<!DOCTYPE html>
<html ng-app="SPDBBusStopApp" ng-controller="BusStopController">

<head>
    <meta charset="utf-8"/>
    <title>SPDB - Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0" content="text/html" content="charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style/basicStyle.css"/>
    <link rel="stylesheet" type="text/css" href="style/dragDropList.css"/>
    <link rel="stylesheet" type="text/css" href="style/rzslider.css"/>
</head>

<body>

<div class="mainApp">
    <div class="displayMap" id="map"></div>

    <br/>

    <div class="acceptButtons">
        <div class="col-md-3">
            <p><input type="button" class="btn btn-success btn-width" name="busStopsShow" ng-click="showBusStops()"
                      value="Dodaj przystanki"></p>
        </div>
        <div class="col-md-3">
            <p><input type="button" class="btn btn-success btn-width" name="closestPlacesShow"
                      ng-click="showClosestPlaces()"
                      value="Najbliższa atrakcja"></p>
        </div>
        <div class="col-md-3">
            <p><input type="button" class="btn btn-success btn-width" name="interestingPlacesShow"
                      ng-click="showInterestingGooglePlaces()" value="Analiza atrakcji"></p>

        </div>
        <div class="col-md-3">
            <p><input type="button" class="btn btn-success btn-width" name="clearMapMarkers"
                      ng-click="clearMap()" value="Wyczyść atrakcje"></p>

        </div>
    </div>


    <br/>
    <br/>

    <div class="busStops">
        <div class="col-md-6">
            <div class="busStopsRight">
                <canvas class="busStopCircle" id="goodBusStopCircle" width="40" height="40"></canvas>
                <div class="busStopsText" id="goodBusStopText">
                    <label>Data base bus stops:
                        <input type="checkbox" ng-model="showBusStopsModel.goodBusStopsCheck">
                    </label><br/>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="busStopsLeft">
                <canvas class="busStopCircle" id="badBusStopCircle" width="40" height="40"></canvas>
                <div class="busStopsText" id="badBusStopText">
                    <label>Calculated bus stops:
                        <input type="checkbox" ng-model="showBusStopsModel.badBusStopsCheck">
                    </label><br/>
                </div>
            </div>
        </div>
        <!--Wiem, że brzydko to odsuwam, ale nie umiałem inaczej. class alert włazi mi na poprzedniego DIV'a-->
        <br/>
        <br/>
        <br/>
    </div>


    <div class="alert alert-success">
        Buses lines and directions
    </div>

    <div class="busLineDescription">
        <div class="col-md-3">
            <p>Bus line:
                <label>
                    <select ng-model="selectedBusLine" ng-options="lineNumber for lineNumber in availableBusLines"
                            ng-change="busSelection()"></select>
                </label></p><br/>
        </div>

        <div class="col-md-3">
            <div class="busStopDirection">
                <label>First bus direction:
                    <input type="checkbox" ng-model="showBusStopsModel.busStopToDirection">
                </label><br/>
            </div>
        </div>

        <div class="col-md-3">
            <div class="busStopDirection">
                <label>Second bus direction:
                    <input type="checkbox" ng-model="showBusStopsModel.busStopFromDirection">
                </label><br/>
            </div>
        </div>
        <br/>
        <br/>
    </div>


    <div class="alert alert-success">
        Bus stops to choose
    </div>

    <div class="acceptButtons">
        <div class="col-md-6">
            <p><input type="button" class="btn btn-success btn-width" name="selectAllBusStopsBtn"
                      ng-click="selectAllBusStops()" value="Wszystkie przystanki"></p>
        </div>
        <div class="col-md-6">
            <p><input type="button" class="btn btn-success btn-width" name="selectNoneBusStopsBtn"
                      ng-click="selectNoneBusStops()"
                      value="Żaden przystanek"></p>
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="dragDropSelectList row">
        <div class="col-md-8">
            <div class="row">
                <div ng-repeat="list in busStopsDragDropModel" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{list.listName}}</h3>
                        </div>
                        <div class="panel-body" ng-include="'html/dragListBusStops.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="multi"></div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generated Model</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJsonAvailableBusStops}}</pre>
                </div>
            </div>
        </div>
    </div>


    <div class="alert alert-success">
        Interesting places to find on map
    </div>
    <div class="alert alert-success">
        <article>
            Define the scope of the search
        </article>
        <article>
            Default search radius: <b>{{searchGooglePlacesRadius.normal.low}} m</b>
        </article>
    </div>
    <div class="acceptButtons col-md-4">
        <p><input type="button" class="btn btn-success btn-width" name="busStopsShow" ng-click="setRadius()"
                  value="Promień wyszukiwania"></p>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="dragDropSelectList row">
        <div class="col-md-8">
            <div class="row">
                <div ng-repeat="list in googlePlacesDragDropModel" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{list.listName}}</h3>
                        </div>
                        <div class="panel-body" ng-include="'html/dragListGooglePlaces.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="multi"></div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generated Model</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJsonGoogleAvailablePlaces}}</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="acceptButtons">
        <div class="col-md-6">
            <p><input type="button" class="btn btn-success btn-width" name="propertiesShow" ng-click="openProperties()"
                      value="Parametry wyszukiwania"></p>
        </div>
        <div class="col-md-6">
            <p><input type="button" class="btn btn-success btn-width" name="setParameters"
                      ng-click="getParam()"
                      value="Wyślij parametry"></p>
        </div>
    </div>

</div>


<!--<div class="options">-->

<p>Dzień tygodnia: <label>
    <select ng-model="selectedDay" ng-options="day for day in days"
            ng-init="selectedDay=days[0]"></select>
</label></p>

<!--<p>Godzina od: <label>-->
<!--<select ng-model="hourFrom" ng-options="hour for hour in hoursFrom" ng-init="hourFrom=8"-->
<!--ng-change="changeHoursTo()"></select>-->
<!--</label></p>-->

<!--<p>Godzina do: <label>-->
<!--<select ng-model="hourTo" ng-options="hour for hour in hoursTo"-->
<!--ng-init="hourTo=10;changeHoursTo()" ng-change="changeHoursFrom()"></select>-->
<!--</label></p>-->
<p><input type="submit" name="clear" ng-click="clearLines()" value="Wyczyść"><input type="submit" name="traffic"
                                                                                    ng-click="getDataFromApi()"
                                                                                    value="Analiza ruchu"></p>
<!--<p>Linia: <label>-->
<!--<select ng-model="selectedLineNumber" ng-options="lineNumber for lineNumber in linesNumbers"-->
<!--ng-init="loadLines()"></select>-->
<!--</label></p>-->

<!--<p><input type="submit" name="lineTraffic" ng-click="getLineTrafficData()" value="Analiza ruchu dla linii"></p>-->

<!--<p>Minimalne wsparcie względne <label>-->
<!--<input type="number" min="0.1" max="1.0" step="0.1" ng-model="minSupport">-->
<!--</label></p>-->

<!--<p>Próg przyrostu opóźnienia <label>-->
<!--<input type="number" min="1" max="99999999" step="1" ng-model="minDiffDelay">-->
<!--</label></p>-->

<!--<p><input type="submit" name="findStrech" ng-click="getStretches()" value="Znajdź korkujące się odcinki"></p>-->
<!--<br/>-->
<!--</div>-->

<!--<div class="histogram">-->
<!--<p>Histogram</p>-->
<!--<img ng-src='{{histogram}}' alt="Histogram" id="histogram">-->
<!--</div>-->

<!--<div id="legend" style="">-->
<!--<p><u><i>Odrabianie opóźnienia</i></u>-->
<!--<section class="legend-blue"></section>-->
<!--</p>-->
<!--<p><u><i>Zmiana opóźnienia do 30s</i></u>-->
<!--<div class="legend-green"></div>-->
<!--</p>-->
<!--<p><u><i>Zmiana opóźnienia do 60s</i></u>-->
<!--<div class="legend-green-apple"></div>-->
<!--</p>-->
<!--<p><u><i>Zmiana opóźnienia do 120s</i></u>-->
<!--<div class="legend-yellow"></div>-->
<!--</p>-->
<!--<p><u><i>Zmiana opóźnienia do 300s</i></u>-->
<!--<div class="legend-orange"></div>-->
<!--</p>-->
<!--<p><u><i>Zmiana opóźnienia większa niż 300s</i></u>-->
<!--<div class="legend-red"></div>-->
<!--</p>-->
<!--</div>-->


<!--</div>-->

<!--<div class="container">-->
<!--<div>-->
<!--<p class="text-muted">-->
<!--1. Lower case filter:</p>-->
<!--<p class="text-info">First Name : {{data.firstName | lowercase}}</p>-->
<!--<hr/>-->
<!--<p class="text-muted">-->
<!--2. Upper case filter</p>-->
<!--<p class="text-info">First Name : {{data.firstName | uppercase }}</p>-->
<!--<hr/>-->
<!--<p class="text-muted">-->
<!--3. Date filter: (mm)</p>-->
<!--<p class="text-info">Start Month : {{data.startDate | date:'MM'}}-->
<!--</p>-->
<!--<hr/>-->
<!--<p class="text-muted">-->
<!--4. Custom filter to remove all spaces:-->
<!--</p>-->
<!--<p class="text-info">{{data.dashes | removeAllSpaces}}</p>-->
<!--<p></p>-->
<!--<hr/>-->
<!--<div>-->
<!--<img ng-src="{{getGravatar(data.email)}}"/>-->
<!--</div>-->
<!--<hr/>-->
<!--<div>-->
<!--<my-input/>-->
<!--<label>Github return code:-->
<!--<h4 ng-bind="status"></h4>-->
<!--</label>-->
<!--</div>-->
<!--<div>-->
<!--<pre>{{user | json}}</pre>-->
<!--{{error}}-->
<!--</div>-->
<!--</div>-->


</div>


<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDroMUn-fiNfv87FPLlCQyU_w5FyifMFWM&libraries=geometry&libraries=places"
        type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<script data-require="bootstrap@*" data-semver="3.3.2"
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="controllers/controllers.js"></script>
<script src="filters/filters.js"></script>
<script src="services/services.js"></script>
<script src="directives/directives.js"></script>
<script src="libraries/angular-drag-and-drop-lists.js"></script>
<script src="libraries/rzslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
<script type="text/ng-template" id="sliderModal.html">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <label class="control-label"> Określ promień wyszukiwania atrakcji </label>
                    <rzslider
                            rz-slider-model="searchGooglePlacesRadius.normal.low"
                            rz-slider-options="searchGooglePlacesRadius.normal.options">
                    </rzslider>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button"
                            ng-click="ok()"
                            class="btn btn-primary"> Save
                    </button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="setProperties.html">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12"><label class="control-label"> Maksymalna odległość od przystanku dla
                    której analizowane są dane punktu </label>
                    <rzslider
                            rz-slider-model="initialParameters.grouping_distance.low"
                            rz-slider-options="initialParameters.grouping_distance.options">
                    </rzslider>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-12 col-lg-12"><label class="control-label"> Promień który tworzy okrąg wokół
                    punktu </label>
                    <rzslider
                            rz-slider-model="initialParameters.search_distance.low"
                            rz-slider-options="initialParameters.search_distance.options">
                    </rzslider>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-12 col-lg-12"><label class="control-label"> Maksymalna wartość średniej predkości
                    dla której kwalifikujemy punkt jako punkt zatrzymania </label>
                    <rzslider
                            rz-slider-model="initialParameters.speed_threshold.low"
                            rz-slider-options="initialParameters.speed_threshold.options">
                    </rzslider>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button"
                            ng-click="ok()"
                            class="btn btn-primary"> Save
                    </button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>

</body>
</html>