<!DOCTYPE html>
<html ng-app="SPDBBusStopApp" ng-controller="BusStopController">

<head>
    <meta charset="utf-8"/>
    <title>SPDB - Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0;text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script data-require="bootstrap@*" data-semver="3.3.2"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style/basicStyle.css"/>
    <link rel="stylesheet" type="text/css" href="style/dragDropList.css"/>
</head>

<body>

<!--<div class="mainApp" ng-init="initMap()">-->
<div class="mainApp">
    <div class="displayMap" id="map"></div>


    <p><input type="submit" name="traffic" ng-click="showBusStops()" value="Dodaj przystanki"></p>
    <p><input type="submit" name="traffic" ng-click="showInterestingGooglePlaces()" value="Analiza atrakcji"></p>

    <div class="busStops">
        <div class="col-md-6">
            <div class="busStopsRight">
                <canvas class="busStopCircle" id="goodBusStopCircle" width="40" height="40"></canvas>
                <div class="busStopsText" id="goodBusStopText">
                    <label>Good bus stops:
                        <input type="checkbox" ng-model="showBusStopsModel.goodBusStops">
                    </label><br/>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="busStopsLeft">
                <canvas class="busStopCircle" id="badBusStopCircle" width="40" height="40"></canvas>
                <div class="busStopsText" id="badBusStopText">
                    <label>Bad bus stops:
                        <input type="checkbox" ng-model="showBusStopsModel.badBusStops">
                    </label><br/>
                </div>
            </div>
        </div>
        <!--Wiem, że brzydko to odsuwam, ale nie umiałem inaczej. class alert włazi mi na poprzedniego DIV'a-->
        <br/>
        <br/>
        <br/>
    </div>


    <div class="alert alert-success">
        <strong>Instructions:</strong>
        Click on items to select/unselect them. When dragging, all selected items will be moved at once.
    </div>

    <div class="alert alert-success">
        Buses lines and directions
    </div>

    <div class="busLineDescription">
        <div class="col-md-3">
            <p>Bus line:
                <label>
                    <select ng-model="selectedBusLine" ng-options="lineNumber for lineNumber in availableBusLines"></select>
                </label></p><br/>
        </div>

        <div class="col-md-3">
            <div class="busStopDirection">
                <label>First bus direction:
                    <input type="checkbox" ng-model="showBusStopsModel.busStopToDirection">
                </label><br/>
            </div>
        </div>

        <div class="col-md-3">
            <div class="busStopDirection">
                <label>Second bus direction:
                    <input type="checkbox" ng-model="showBusStopsModel.busStopFromDirection">
                </label><br/>
            </div>
        </div>
        <br/>
        <br/>
    </div>


    <div class="alert alert-success">
        Interesting places to find on map
    </div>

    <div class="dragDropSelectList row">
        <div class="col-md-8">
            <div class="row">
                <div ng-repeat="list in busStopsDragDropModel" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{list.listName}}</h3>
                        </div>
                        <div class="panel-body" ng-include="'html/dragListBusStops.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="multi"></div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generated Model</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJsonAvailableBusStops}}</pre>
                </div>
            </div>
        </div>
    </div>


    <div class="alert alert-success">
        Interesting places to find on map
    </div>

    <div class="dragDropSelectList row">
        <div class="col-md-8">
            <div class="row">
                <div ng-repeat="list in googlePlacesDragDropModel" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{list.listName}}</h3>
                        </div>
                        <div class="panel-body" ng-include="'html/dragListGooglePlaces.html'"></div>
                    </div>
                </div>
            </div>
            <div view-source="multi"></div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generated Model</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJsonGoogleAvailablePlaces}}</pre>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="options">-->

    <!--<p>Dzień tygodnia: <label>-->
    <!--<select ng-model="selectedDay" ng-options="day for day in days"-->
    <!--ng-init="selectedDay=days[0]"></select>-->
    <!--</label></p>-->

    <!--<p>Godzina od: <label>-->
    <!--<select ng-model="hourFrom" ng-options="hour for hour in hoursFrom" ng-init="hourFrom=8"-->
    <!--ng-change="changeHoursTo()"></select>-->
    <!--</label></p>-->

    <!--<p>Godzina do: <label>-->
    <!--<select ng-model="hourTo" ng-options="hour for hour in hoursTo"-->
    <!--ng-init="hourTo=10;changeHoursTo()" ng-change="changeHoursFrom()"></select>-->
    <!--</label></p>-->
    <!--<p><input type="submit" name="clear" ng-click="clearLines()" value="Wyczyść"><input type="submit" name="traffic"-->
    <!--ng-click="getDataFromApi()"-->
    <!--value="Analiza ruchu"></p>-->
    <!--<p>Linia: <label>-->
    <!--<select ng-model="selectedLineNumber" ng-options="lineNumber for lineNumber in linesNumbers"-->
    <!--ng-init="loadLines()"></select>-->
    <!--</label></p>-->

    <!--<p><input type="submit" name="lineTraffic" ng-click="getLineTrafficData()" value="Analiza ruchu dla linii"></p>-->

    <!--<p>Minimalne wsparcie względne <label>-->
    <!--<input type="number" min="0.1" max="1.0" step="0.1" ng-model="minSupport">-->
    <!--</label></p>-->

    <!--<p>Próg przyrostu opóźnienia <label>-->
    <!--<input type="number" min="1" max="99999999" step="1" ng-model="minDiffDelay">-->
    <!--</label></p>-->

    <!--<p><input type="submit" name="findStrech" ng-click="getStretches()" value="Znajdź korkujące się odcinki"></p>-->
    <!--<br/>-->
    <!--</div>-->

    <!--<div class="histogram">-->
    <!--<p>Histogram</p>-->
    <!--<img ng-src='{{histogram}}' alt="Histogram" id="histogram">-->
    <!--</div>-->

    <!--<div id="legend" style="">-->
    <!--<p><u><i>Odrabianie opóźnienia</i></u>-->
    <!--<section class="legend-blue"></section>-->
    <!--</p>-->
    <!--<p><u><i>Zmiana opóźnienia do 30s</i></u>-->
    <!--<div class="legend-green"></div>-->
    <!--</p>-->
    <!--<p><u><i>Zmiana opóźnienia do 60s</i></u>-->
    <!--<div class="legend-green-apple"></div>-->
    <!--</p>-->
    <!--<p><u><i>Zmiana opóźnienia do 120s</i></u>-->
    <!--<div class="legend-yellow"></div>-->
    <!--</p>-->
    <!--<p><u><i>Zmiana opóźnienia do 300s</i></u>-->
    <!--<div class="legend-orange"></div>-->
    <!--</p>-->
    <!--<p><u><i>Zmiana opóźnienia większa niż 300s</i></u>-->
    <!--<div class="legend-red"></div>-->
    <!--</p>-->
    <!--</div>-->


    <!--</div>-->

    <!--<div class="container">-->
    <!--<div>-->
    <!--<p class="text-muted">-->
    <!--1. Lower case filter:</p>-->
    <!--<p class="text-info">First Name : {{data.firstName | lowercase}}</p>-->
    <!--<hr/>-->
    <!--<p class="text-muted">-->
    <!--2. Upper case filter</p>-->
    <!--<p class="text-info">First Name : {{data.firstName | uppercase }}</p>-->
    <!--<hr/>-->
    <!--<p class="text-muted">-->
    <!--3. Date filter: (mm)</p>-->
    <!--<p class="text-info">Start Month : {{data.startDate | date:'MM'}}-->
    <!--</p>-->
    <!--<hr/>-->
    <!--<p class="text-muted">-->
    <!--4. Custom filter to remove all spaces:-->
    <!--</p>-->
    <!--<p class="text-info">{{data.dashes | removeAllSpaces}}</p>-->
    <!--<p></p>-->
    <!--<hr/>-->
    <!--<div>-->
    <!--<img ng-src="{{getGravatar(data.email)}}"/>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--<div>-->
    <!--<my-input/>-->
    <!--<label>Github return code:-->
    <!--<h4 ng-bind="status"></h4>-->
    <!--</label>-->
    <!--</div>-->
    <!--<div>-->
    <!--<pre>{{user | json}}</pre>-->
    <!--{{error}}-->
    <!--</div>-->
    <!--</div>-->


</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDroMUn-fiNfv87FPLlCQyU_w5FyifMFWM&libraries=geometry&libraries=places"
        type="text/javascript"></script>
<script src="app.js"></script>
<script src="controllers/controllers.js"></script>
<script src="filters/filters.js"></script>
<script src="services/services.js"></script>
<script src="directives/directives.js"></script>
<script src="libraries/angular-drag-and-drop-lists.js"></script>
</body>
</html>